<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.misterchangray.financial.v001.mapper.intf.FinancialAccountMapper">
    <sql id="base_agent_info_field">
       id, user_id, name, phone, balance, freeze, status, create_time, update_time, permissions
    </sql>

    <select id="getByPhone" parameterType="java.lang.String"
            resultType="com.github.misterchangray.financial.v001.mapper.po.FinancialAccount">
        select
        <include refid="base_agent_info_field"></include>
        from faster_financial_account where phone = #{phone} and status = 1;
    </select>

    <update id="changeStatus" parameterType="com.github.misterchangray.financial.v001.mapper.po.FinancialAccount">
        update faster_financial_account set status = #{status} where id = #{id} limit 1;
    </update>
</mapper>