<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.misterchangray.financial.v001.mapper.intf.FinancialChangesMapper">
    <sql id="field_info">
       id, serial_number, financial_account_Id, books_id, user_id, name, phone,
       amount, after_balance, after_freeze, source_id, type, status, remark, create_time, update_time
    </sql>

      <insert id="insert">
        INSERT INTO faster_financial_changes_record
        (
        <include refid="field_info"></include>
        )
        VALUES (#{id}, #{serialNumber}, #{financialAccountId}, #{booksId}, #{userId}, #{name}, #{phone},
        #{amount}, #{afterBalance}, #{afterFreeze}, #{sourceId}, #{type}, #{status}, #{remark}, #{createTime},#{updateTime});
    </insert>

    <select id="getTerminalByAcode" resultType="java.lang.Integer">
        select terminal from cp_agent where a_code=#{acode}
    </select>

</mapper>